<ion-header>
  <ion-toolbar>
    <ion-title color="primary"> </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row justify-content-center>
      <ion-col align-self-center size-xs="10">

        <div (click)="changePhoto()">
          <img *ngIf="!editingUser.photo" src="assets/avatar.png">
          <ion-img *ngIf="editingUser.photo" [src]="editingUser.photo"></ion-img>
        </div>

        <ion-item>
          <ion-input [(ngModel)]="editingUser.name" placeholder="Digite o nome" color="primary"></ion-input>
        </ion-item>
        <section>
          <ion-button (click)="save()" class="btn-save" color="primary" expand="full">SALVAR</ion-button>
        </section>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
  