<ion-header>
  <ion-toolbar transparent>
    <ion-title class="positionTittle" color="primary">Recuperar Senha</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="5" size-lg="12" size-xs="9">

        <div>
          <ion-label color="primary">Por favor, digite o seu email para enviarmos as instruções.</ion-label>
        </div>

        <ion-input class="positionEmail" color="primary" placeholder=" Email Address" [(ngModel)]="email"></ion-input>

        <div class="button-container" *ngIf="!resetPassword">
          <ion-button color="primary" expand="block" (click)="resetPasswordByEmail()">Enviar</ion-button>
        </div>

        <div class="verify-container" *ngIf="resetPassword">
          <p>Email de verificação foi enviado!</p>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>