.imgProfile{
    width: 55%;
    height: auto;
    margin-left: 24%;
    margin-top: 1%;
}

.avatarProfile{
    width: auto;
    height: auto;
    margin: auto;
}

.ajustarDescricao{
    margin: auto
}
.ajustarSair{
    margin-left: 75%;
    margin-top: 1%;
}
.ajustarCamera{
    padding-right: 26%;
    padding-left: 22%;
    margin-left: 24%;
    margin-top: -12%;
}
.ajustarDesativar{
    font-size: 12px;
    

}
.ajustarRedefinirSenha{
    font-size: 12px;
    margin-top: 20%;
    

}