<ion-header>
  <ion-toolbar>
    <ion-title class="positionTittle" color="primary">Editar Livro</ion-title> 
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row justify-content-center>
      <ion-col align-self-center size-xs="10">

        <div (click)="changePhoto()">
          <img *ngIf="!editingBook.photo" src="assets/default.jpg">
          <ion-img *ngIf="editingBook.photo" [src]="editingBook.photo"></ion-img>
        </div>

        <ion-item>
          <ion-input [(ngModel)]="editingBook.title" placeholder="Digite o título" color="primary"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="editingBook.description" placeholder="Digite o descrição" color="primary"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="editingBook.author" placeholder="Digite o nome do autor" color="primary"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="editingBook.genre" placeholder="Digite o gênero" color="primary"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="editingBook.releaseYear" placeholder="Digite o ano de lançamento" color="primary">
          </ion-input>
        </ion-item>

        <section>
          <ion-button (click)="presentAlertConfirm()" class="btn-save" color="primary" expand="full">SALVAR</ion-button>
        </section>
        <section>
          <ion-button (click)="dismiss()" class="btn-save"  color="primary" expand="full" >CANCELAR</ion-button>
        </section>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>