<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row justify-content-center>
      <ion-col align-self-center size-xs="10">
        <img src="assets/img/icon.png" alt="some text" width=400 height=300>

        <ion-item>
          <ion-label position="stacked" color="primary">Email</ion-label>
          <ion-input [(ngModel)]="email" required type="email" color="primary"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked" color="primary">Senha</ion-label>
          <ion-input [(ngModel)]="password" required type="password" color="primary"></ion-input>
        </ion-item>

        <section>
          <ion-button [disabled]="!email || !password" class="btn btn-primary btn-block" (click)="logarUsuario()"
            expand="block" fill="outline" color="primary">LOGAR</ion-button>
        </section>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>