<ion-content>
  <ion-list>
    <ion-card *ngFor="let book of books" color="primary">
      <img src="" />
      <ion-card-header>
        <ion-img *ngIf="book.photo" [src]="book.photo"></ion-img>
        <img *ngIf="!book.photo" src="assets/default.jpg">
        <ion-card-subtitle>{{book.author}}</ion-card-subtitle>
        <ion-card-subtitle>{{book.releaseYear}}</ion-card-subtitle>
        <ion-card-title>{{book.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{book.description}}</ion-card-content>
      <div class="icones">
        <ion-icon (click)="editBook(book)" name="create" color="secondary"></ion-icon>
        <ion-icon (click)="deletarBook(book.uid)" name="trash" color="secondary"></ion-icon>
        <ion-icon (click)="clickStar(book.uid)" color="secondary" name="star"></ion-icon>
      </div>
    </ion-card>

  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="registrarBooks()" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>