<ion-header>
  <ion-toolbar transparent>
    <ion-title class="positionTittle" color="primary">Registrar Livro</ion-title>
    <ion-buttons slot="start">
        <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-grid fixed>      
        <ion-row justify-content-center>
          <ion-col align-self-center size-xs="10">
            <ion-item>
              <ion-label position="stacked" color="primary">Titulo do Livro</ion-label>
              <ion-input [(ngModel)]="book.title" required type="text" color="primary"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label position="stacked"  color="primary" >Descrição</ion-label>
              <ion-input [(ngModel)]="book.description" required type="text" color="primary"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label position="stacked" color="primary">Autor</ion-label>
              <ion-input [(ngModel)]="book.author" required type="text" color="primary"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" color="primary">Gênero</ion-label>
                <ion-input [(ngModel)]="book.genre" required type="text" color="primary"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" color="primary">Ano de Lançamento</ion-label>
                <ion-input [(ngModel)]="book.releaseYear" required type="text" color="primary"></ion-input>
            </ion-item>

            
            <section>
                <ion-button (click)="salvarBook()" expand="block" fill="outline" color="primary">ADICIONAR</ion-button>
              </section>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
