<ion-header>
  <ion-toolbar>
    <ion-title class="positionTittle">Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let book of books" color="primary">
      <img src="" />
      <ion-card-header>
        <ion-img *ngIf="book.photo" [src]="book.photo"></ion-img>
        <img *ngIf="!book.photo" src="assets/default.jpg">
        <ion-card-subtitle>{{book.author}}</ion-card-subtitle>
        <ion-card-subtitle>{{book.releaseYear}}</ion-card-subtitle>
        <ion-card-title>{{book.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{book.description}}</ion-card-content>

    </ion-card>
    
  </ion-list>
</ion-content>
