<ion-content>
  <ion-grid fixed>
    <ion-row justify-content-center>
      <ion-col align-self-center size-xs="12">
        <img src="assets/img/icon.png" alt="some text" width=400 height=300>

        <section>
          <header></header>
          <ion-button (click)="paginaLogin()" expand="block" fill="outline" color="primary">Entrar</ion-button>
        </section>

        <section>
          <header></header>
          <ion-button (click)="paginaRegistro()" expand="block" fill="outline" color="primary">Registrar-se</ion-button>
        </section>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>